@use '../../../app/shared/styles/variables' as variables;

.filter {
  width: 80%;;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .search, .speciality, .status, .sort {
    width: 24%;
  }
}

.appointments-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  margin: 0 auto;

  .appointment-card {
    display: flex;
    flex-direction: row;
    box-shadow: variables.$box-shadow-hover;
    border-radius: variables.$border-radius;
    background-color: variables.$background-color;

    .header {
      width: 25%;

      .title {
        color: variables.$primary-color;
        font-size: 1.3rem;
      }

      .time {
        color: variables.$grey-color;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem;
      font-size: 1.1rem;
      color: variables.$primary-color;
      width: 45%;

      .doctors-info {
        display: flex;
        flex-direction: column;
        width: 35%;
      }

      .patients-info, .diagnosis {
        width: 35%;
      }

      .status {
        width: 30%;
        cursor: default;

        &-accepted {
          background-color: variables.$accepted-color;
          color: black;
        }
        &-confirmed {
          background-color: variables.$primary-color;
          color: white;
        }
        &-canceled {
          background-color: rgba(variables.$grey-color, 0.2);
          color: black;
        }
        &-absent {
          background-color: variables.$absent-color;
          color: black;
        }
      }
    }

    .actions {
      padding: 1rem;
      display: flex;
      justify-content: end;
      gap: 1rem;
      width: 30%;
    }
  }
}

.no-appointments {
  text-align: center;
  color: white;

  p {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
}

i {
  color: variables.$grey-color;
}
