<div class="appointments-container">
  @for (appointment of appointments; track appointment.id) {
    <mat-card class="appointment-card">
      <mat-card-header class="header">
        <mat-card-title class="title">{{ appointment.service.name }}</mat-card-title>
        <mat-card-subtitle class="time">{{ appointment.time | date: 'yyyy-MM-dd HH:mm' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="content">
        <button class="status" [class]="getStatusClass(appointment)" mat-raised-button>{{ getStatus(appointment) }}</button>
        @if (!isDoctor) {
          <div class="doctors-info">
            <p class="doctor-name">{{ appointment.doctor.user.name }} {{ appointment.doctor.user.surname }}</p>
            <i class="doctor-speciality">{{ appointment.doctor.speciality.name + " Doctor" }}</i>
          </div>
        }
        @if (isDoctor || isAdmin) {
          <div class="patients-info">
            <p>{{ appointment.patient.user.name }} {{ appointment.patient.user.surname }}</p>
            <i>Patient</i>
          </div>
        }
      </mat-card-content>
      <mat-card-actions class="actions">
        @if (canCancel(appointment)) {
          <button mat-raised-button (click)="onCancel(appointment)">Cancel</button>
        }
        @if (isDoctor && canAccept(appointment)) {
          <button mat-flat-button (click)="onAccept(appointment)">Accept</button>
        }
        @if (isAdmin || isDoctor) {
          <button mat-flat-button (click)="openEditAppointmentDialog(appointment)">Edit</button>
        }
      </mat-card-actions>
    </mat-card>
  }
</div>
@if (!appointments || appointments.length === 0) {
  <div class="no-appointments">
    @if (!isLoggedIn) {
      <p>You should log in first.</p>
      <button mat-flat-button routerLink="/login">Log In</button>
    } @else {
      <p>You don't have any appointments.</p>
      @if (!isDoctor) {
        <button mat-flat-button routerLink="/services">Book Appointment</button>
      }
    }
  </div>
}
