@use '../../../app/shared/styles/variables' as variables;

.appointments-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

.appointment-card {
  display: flex;
  flex-direction: row;
  box-shadow: variables.$box-shadow-hover;
  border-radius: variables.$border-radius;
  background-color: variables.$background-color;

  .header {
    width: 30%;

    .title {
      color: variables.$primary-color;
      font-size: 1.3rem;
    }

    .time {
      color: variables.$grey-color;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    color: variables.$primary-color;
    width: 45%;

    .doctors-info {
      display: flex;
      flex-direction: column;
      width: 40%;
    }

    .patients-info {
      width: 35%;
    }

    .status {
      width: 25%;
      cursor: default;

      &-accepted {
        background-color: variables.$accepted-color;
        color: black;
      }
      &-confirmed {
        background-color: variables.$primary-color;
        color: white;
      }
      &-canceled {
        background-color: rgba(variables.$grey-color, 0.2);
        color: black;
      }
      &-absent {
        background-color: variables.$absent-color;
        color: black;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: end;
    gap: 1rem;
    width: 25%;
  }
}

.no-appointments {
  text-align: center;
  color: white;

  p {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
}

i {
  color: variables.$grey-color;
}
