<div class="description">
  <p>
    Nasza klinika łączy specjalistyczną wiedzę z nowoczesną technologią, aby dostarczać spersonalizowaną diagnostykę i leczenie. Skupiamy się na kardiologii, neurologii, pediatrii, dermatologii i innych dziedzinach — zawsze priorytetowo traktując Twoje zdrowie i komfort.
  </p>
</div>
<div id="gallery" class="image-gallery" [class.loaded]="allImagesLoaded">

  <div class="gallery-element image-description">
    <h3 class="title">Precyzyjna i zaawansowana diagnostyka</h3>
    <p class="description">W naszej klinice priorytetem jest wykorzystanie nowoczesnej technologii oraz najwyższe standardy laboratoryjne. Dzięki najnowszemu sprzętowi i wiedzy naszych specjalistów zapewniamy szybkie i dokładne diagnozy, zawsze koncentrując się na skutecznym leczeniu i bezpieczeństwie pacjenta.</p>
  </div>

  <img #image src="assets/medical-facility/1.svg" alt="image1" class="gallery-element image" (load)="onImageLoad()"/>
  <img #image src="assets/medical-facility/2.svg" alt="image2" class="gallery-element image" (load)="onImageLoad()"/>

  <div class="gallery-element image-description">
    <h3 class="title">Kompleksowa opieka w okresie ciąży</h3>
    <p class="description">Oferujemy troskliwą i spersonalizowaną opiekę na każdym etapie ciąży. Nasi doświadczeni specjaliści wykorzystują zaawansowaną technologię ultradźwiękową do monitorowania rozwoju płodu, dbając o zdrowie i bezpieczeństwo zarówno matki, jak i dziecka. Twoje dobro jest dla nas priorytetem — od pierwszego bicia serca.</p>
  </div>

  <div class="gallery-element image-description">
    <h3 class="title">Delikatna i skuteczna opieka pediatryczna</h3>
    <p class="description">Tworzymy bezpieczne i przyjazne środowisko dla naszych najmłodszych pacjentów, korzystając z nowoczesnego sprzętu wspierającego zdrowie układu oddechowego oraz wczesną diagnostykę. Niezależnie od tego, czy jest to terapia inhalacyjna, czy ocena oddychania, nasz zespół pediatryczny zapewnia fachową, pełną troski opiekę dopasowaną do potrzeb każdego dziecka.</p>
  </div>

  <img #image src="assets/medical-facility/3.svg" alt="image3" class="gallery-element image" (load)="onImageLoad()"/>
  <img #image src="assets/medical-facility/4.svg" alt="image4" class="gallery-element image" (load)="onImageLoad()"/>

  <div class="gallery-element image-description">
    <h3 class="title">Nowoczesne środowisko chirurgiczne</h3>
    <p class="description">Nasze sale operacyjne są wyposażone w najwyższej jakości technologię, w tym zaawansowane systemy monitorujące Dräger, zapewniające najwyższy poziom bezpieczeństwa podczas każdej procedury. Dzięki danym w czasie rzeczywistym, precyzyjnym instrumentom i ekspertom jesteśmy przygotowani na najbardziej wymagające interwencje chirurgiczne.</p>
  </div>
  <div class="gallery-element image-description">
    <h3 class="title">Zaawansowana technologia dentystyczna dla precyzyjnego leczenia</h3>
    <p class="description">Nasze gabinety dentystyczne są wyposażone w nowoczesne fotele i wielofunkcyjne narzędzia, które zapewniają komfort, efektywność i precyzję. Od rutynowych przeglądów po zaawansowane procedury, nasza technologia zapewnia wysoką jakość opieki w czystym, bezstresowym środowisku.</p>
  </div>

  <img #image src="assets/medical-facility/5.svg" alt="image5" class="gallery-element image" (load)="onImageLoad()"/>
  <img #image src="assets/medical-facility/6.svg" alt="image6" class="gallery-element image" (load)="onImageLoad()"/>

  <div class="gallery-element image-description">
    <h3 class="title">Dokładna i spersonalizowana opieka nad pacjentem</h3>
    <p class="description">Nasi zaangażowani pracownicy służby zdrowia poświęcają czas na szczegółowe badania, takie jak pomiar ciśnienia krwi, aby upewnić się, że Twoje zdrowie jest zawsze monitorowane. Wierzymy w zapewnianie spersonalizowanej opieki, koncentrując się na każdym detalu, aby utrzymać i poprawić Twoje samopoczucie.</p>
  </div>

</div>
