@use '../../../app/shared/styles/variables' as variables;

.services {
  text-align: center;
  padding: 1rem;

  h1 {
    color: white;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  .service-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 0.6rem;
    background-color: variables.$background-color;
    border: 1px solid #ddd;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: variables.$box-shadow-hover;
    }

    .service-icon {
      font-size: 3rem;
      height: 100%;
      width: 5%;
      color: variables.$accent-color;
      text-align: left;
    }

    .service-info {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 45%;

      .service-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: variables.$primary-color;
        text-align: left;
      }

      .service-description {
        color: variables.$grey-color;
        align-self: flex-start;
      }
    }

    .service-duration, .service-price {
      width: 10%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      color: variables.$grey-color;
    }
  }
}
