@use '../../../app/shared/styles/variables' as variables;

.services {
  text-align: center;
  padding: 1rem;

  h1 {
    color: white;
    margin-bottom: 1rem;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 0 1rem;

    .service-card {
      padding: 1rem;
      text-align: center;
      background-color: variables.$background-color;
      border: 1px solid #ddd;
      border-radius: variables.$border-radius;
      box-shadow: variables.$box-shadow;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
        box-shadow: variables.$box-shadow-hover;
      }

      .service-icon {
        font-size: 4rem;
        height: 80%;
        width: 100%;
        color: variables.$accent-color;
      }

      .service-title {
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: bold;
        color: variables.$primary-color;
      }

      .service-description {
        margin: 0;
        color: #555;
      }
    }
  }
}
