@use '../../../app/shared/styles/variables' as variables;

.filter {
  width: 80%;;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .search, .speciality, .sort {
    width: 32%;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  .service-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 0.6rem;
    background-color: variables.$background-color;
    border-radius: variables.$border-radius;
    box-shadow: variables.$box-shadow;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: variables.$box-shadow-hover;
    }

    .service-icon {
      font-size: 3rem;
      height: 100%;
      width: 5%;
      color: variables.$accent-color;
      text-align: left;
    }

    .service-info {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 50%;

      .service-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: variables.$primary-color;
        text-align: left;
      }

      .service-description {
        color: variables.$grey-color;
        align-self: flex-start;
      }
    }

    .service-duration, .service-price, .service-speciality {
      width: 10%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      color: variables.$grey-color;
    }

    .service-speciality {
      width: 25%;
    }
  }
}

.no-services {
  text-align: center;
  color: white;

  p {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
}
