<h2 class="title" mat-dialog-title>Prescription</h2>
<form class="form" [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="text-area" [class.non-editable]="!isDoctor">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" [readonly]="!isDoctor"></textarea>
  </mat-form-field>
  <mat-form-field class="form-field" [class.non-editable]="!isDoctor">
    <mat-label>Expiration Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="expirationDate" [min]="minDate" [readonly]="!isDoctor"/>
    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="!isDoctor"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  @if (data.prescription?.prescriptionMedicaments?.length) {
    <h3>Medications</h3>
    <mat-accordion class="prescription-medicaments">
      @for (prescriptionMedicament of data.prescription!.prescriptionMedicaments; track prescriptionMedicament.medicamentId) {
        <mat-expansion-panel class="expansion-panel">
          <mat-expansion-panel-header class="expansion-panel-header">
            <mat-panel-title class="expansion-panel-title">
              <div class="medicament">
                <h3>{{ prescriptionMedicament.medicament!.name }}</h3>
                <p>{{ getMedicamentTypeName(prescriptionMedicament.medicament!.medicamentType) }}</p>
              </div>
              <div class="quantity">
                <p>Quantity: <span>{{ prescriptionMedicament.quantity }}</span></p>
                <p>Measurement unit: <span>{{ getMedicamentUnitName(prescriptionMedicament.medicamentUnit) }}</span></p>
              </div>
              @if (isDoctor) {
                <button class="btn-delete" type="button" mat-button (click)="removeMedicament($event, prescriptionMedicament)">
                  <mat-icon class="icon-delete">delete</mat-icon>
                </button>
              }
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content">
            <p>{{ prescriptionMedicament.medicament!.description }}</p>
            <div class="dosage">
              <p>Dosage:</p>
              <p>{{ prescriptionMedicament.dosage }}</p>
            </div>
            @if (prescriptionMedicament.notes) {
              <div class="notes">
                <p>Notes:</p>
                <p>{{ prescriptionMedicament.notes }}</p>
              </div>
            }
            @if (prescriptionMedicament.medicament!.prescriptionRequired) {
              <div class="info">
                <mat-icon class="icon-info">info</mat-icon>
                <i>Prescription only medicine.</i>
              </div>
            }
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
  @if (isDoctor && data.prescription) {
    <button class="btn-add" type="button" mat-flat-button (click)="openAddMedicamentDialog(data.prescription.appointmentId)">Add Medication</button>
  } @else if (isDoctor && !data.prescription) {
    <div class="info">
      <mat-icon class="icon-info">info</mat-icon>
      <i>Save the prescription to add medications.</i>
    </div>
  }
  <div class="buttons" mat-dialog-actions>
    @if (isDoctor) {
      <button class="btn-submit" mat-raised-button type="submit" [disabled]="prescriptionForm.invalid">Save</button>
    }
    <button class="btn-cancel" mat-button mat-dialog-close type="button" (click)="closeDialog()">Close</button>
  </div>
</form>
