<form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
  <mat-form-field class="form-field">
    <mat-label>Role</mat-label>
    <mat-select formControlName="roleType" (selectionChange)="onRoleTypeChange($event)">
      @for (roleType of roleTypes; track roleType.value) {
        <mat-option [value]="roleType.value">
          {{ roleType.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Pesel</mat-label>
    <input matInput formControlName="pesel" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" required/>
  </mat-form-field>
  @if (isDoctor) {
    <mat-form-field class="form-field">
      <mat-label>Employment Date</mat-label>
      <input matInput [matDatepicker]="employmentDatePicker" formControlName="employmentDate">
      <mat-datepicker-toggle matIconSuffix [for]="employmentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #employmentDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Speciality</mat-label>
      <mat-select formControlName="specialityId">
        @for (speciality of specialities(); track speciality.id) {
          <mat-option [value]="speciality.id">{{speciality.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  } @else {
    <mat-form-field class="form-field">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate">
      <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDatePicker></mat-datepicker>
    </mat-form-field>
  }
  <button mat-raised-button type="submit" [disabled]="registerForm.invalid" class="btn-submit">Register</button>
</form>
