$primary-color: #1976d2;
$secondary-color: #ffa813;
$accent-color: #ff4081;
$accepted-color: #c0e6be;
$absent-color: #ebbcbc;
$grey-color: #555;
$error-color: #7b0707;
$background-color: rgba(255, 255, 255, 0.8);;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
$border-radius: 10px;
