<div class="admin-panel-container">
  <div class="left">
    @for (person of getPersons(); track person.userId) {
      <mat-card class="user-card">
        <mat-card-header class="header">
          <mat-card-title class="fullname">{{ person.user.name }} {{ person.user.surname }}</mat-card-title>
          <mat-card-subtitle class="speciality">{{ isDoctor(person) ? getSpecialityName(person) : "Patient"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
          <button class="email" mat-raised-button (click)="copyEmail(person.user.email)">{{ person.user.email }}</button>
          <mat-icon class="icon">{{ isDoctor(person) ? 'medical_services' : 'person' }}</mat-icon>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-raised-button (click)="openEditUserDialog(person)">Edit</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
  <div class="right">
    <table mat-table [dataSource]="permissions" class="table">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Permission</th>
        <td mat-cell *matCellDef="let permission"> {{ permission.description }} </td>
      </ng-container>
      @for (roleType of roleTypes; track roleType.value) {
        <ng-container [matColumnDef]="roleType.label.toLowerCase()">
          <th mat-header-cell *matHeaderCellDef> {{ roleType.label }} </th>
          <td mat-cell *matCellDef="let permission">
            <mat-checkbox
              [checked]="hasPermission(permission, roleType.value)"
              (change)="togglePermission(permission, roleType.value, $event.checked)"
              [disabled]="isPermissionDisabled(permission, roleType.value)">
            </mat-checkbox>
          </td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
