@use '../../../app/shared/styles/variables' as variables;

.admin-panel-container {
  display: flex;
  justify-content: center;

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 45%;
  }

  .left {
    min-width: 45rem;
  }

  .right {
    min-width: 25rem;
  }

  .user-card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    box-shadow: variables.$box-shadow-hover;
    border-radius: variables.$border-radius;
    background-color: variables.$background-color;

    .header {
      width: 40%;

      .fullname {
        color: variables.$primary-color;
        font-size: 1.3rem;
      }

      .speciality {
        color: variables.$grey-color;
        font-style: italic;
      }
    }

    .content {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .email {
        justify-content: flex-start;
        cursor: pointer;
        user-select: text;
      }

      .icon {
        color: variables.$grey-color;
      }
    }

    .actions {
      width: 10%;
      justify-content: flex-end;
    }
  }

  .table {
    border-radius: variables.$border-radius;
    overflow: hidden;
    background-color: rgba(variables.$background-color, 0.3);
    box-shadow: variables.$box-shadow-hover;
  }
}
