@use '../../../app/shared/styles/variables' as variables;

.admin-panel-container {
  display: flex;
  justify-content: center;

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 40rem;
    margin: 0 auto;
  }

  .doctors-card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    box-shadow: variables.$box-shadow-hover;
    border-radius: variables.$border-radius;
    background-color: #fff;

    .header {
      width: 60%;

      .fullname {
        color: variables.$primary-color;
        font-size: 1.3rem;
      }

      .speciality {
        color: variables.$grey-color;
        font-style: italic;
      }
    }

    .content {
      display: flex;
      align-items: center;

      .status {
        cursor: default;

        &-doctor {
          background-color: variables.$primary-color;
          color: white;
        }

        &-patient {
          background-color: rgba(variables.$grey-color, 0.2);
          color: black;
        }
      }
    }
  }
}
