@use '../../../app/shared/styles/variables' as variables;

.admin-panel-container {
  display: flex;
  justify-content: center;

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 45%;
  }

  .user-card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    box-shadow: variables.$box-shadow-hover;
    border-radius: variables.$border-radius;
    background-color: #fff;

    .header {
      width: 30%;

      .fullname {
        color: variables.$primary-color;
        font-size: 1.3rem;
      }

      .speciality {
        color: variables.$grey-color;
        font-style: italic;
      }
    }

    .content {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .status {
        cursor: default;

        &-doctor {
          background-color: variables.$primary-color;
          color: white;
        }

        &-patient {
          background-color: rgba(variables.$grey-color, 0.2);
          color: black;
        }
      }

      .email {
        justify-content: flex-start;
        cursor: pointer;
        user-select: text;
      }
    }

    .actions {
      width: 10%;
      justify-content: flex-end;
    }
  }

  .table {
    border-radius: variables.$border-radius;
    overflow: hidden;
  }
}
