@use '../../../../app/shared/styles/variables' as variables;

.success-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$primary-color;
  height: 100%;
  border-radius: variables.$border-radius;
  color: white;
  box-shadow: variables.$box-shadow;
  animation: fadeInOut 3s ease-in-out forwards;

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    10% {
      opacity: 1;
      visibility: visible;
    }
    80% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .icon {
    margin: 0 0.5rem;
    vertical-align: middle;
  }

  .message {
    margin-right: 0.5rem;
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }
}
