@use '../../../variables' as variables;
@use 'sass:color';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white;

  .spacer {
    flex: 1;
  }
}

.hero {
  background: linear-gradient(
    to right,
    rgba(variables.$primary-color, 0.6),
    color.scale(rgba(variables.$primary-color, 0.6), $lightness: 20%)
  );
  color: white;
  text-align: center;
  padding: 2rem 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1rem;
  }
}

.services {
  text-align: center;
  padding: 1rem;

  h1 {
    color: variables.$primary-color;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 0 1rem;
    margin-bottom: 1rem;

    .service-card {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      background-color: variables.$background-color;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.2s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      .service-icon {
        font-size: 3rem;
        height: 100%;
        width: 20%;
        color: variables.$accent-color;
        text-align: left;
      }

      .service-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: variables.$primary-color;
        text-align: left;
      }

      .service-description {
        color: #555;
      }
    }
  }
}

.description {
  background-color: variables.$background-color;
  padding: 4rem 8rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  gap: 2rem;

  .image-container .double-image {
    .image {
      width: 100%;
      margin-top: 2rem;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }
    }

    .image:nth-child(odd) {
      height: 100%;
    }

    .image:nth-child(even) {
      height: 50%;
    }
  }
}
