@use '../../../variables' as variables;
@use 'sass:color';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white;

  .spacer {
    flex: 1;
  }
}

.hero {
  background: linear-gradient(
    to right,
    variables.$primary-color,
    color.scale(variables.$primary-color, $lightness: 20%)
  );
  color: white;
  text-align: center;
  padding: 2rem 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1rem;
  }
}

.services {
  text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;

  h1 {
    color: variables.$primary-color;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 1rem;

    .service-card {
      padding: 1rem;
      text-align: center;
      background: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.2s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      .service-icon {
        font-size: 4rem;
        height: 80%;
        width: 100%;
        color: variables.$accent-color;
      }

      .service-title {
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: bold;
        color: variables.$primary-color;
      }

      .service-description {
        margin: 0;
        color: #555;
      }
    }
  }
}

