@use '../../../app/shared/styles/variables' as variables;
@use 'sass:color';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white;

  .spacer {
    flex: 1;
  }
}

.hero {
  background: linear-gradient(
    to right,
    rgba(variables.$primary-color, 0.6),
    color.scale(rgba(variables.$primary-color, 0.6), $lightness: 20%)
  );
  color: white;
  text-align: center;
  padding: 2rem 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.services {
  text-align: center;
  padding: 1rem;

  h1 {
    color: white;
    margin-bottom: 1rem;
  }

  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    padding: 0 1rem;
    margin-bottom: 1rem;

    .service-card {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      background-color: variables.$background-color;
      border: 1px solid #ddd;
      border-radius: variables.$border-radius;
      box-shadow: variables.$box-shadow;
      transition: all 0.2s;

      &:hover {
        transform: translateY(-2px);
        box-shadow: variables.$box-shadow-hover;
      }

      .service-icon {
        font-size: 3rem;
        height: 100%;
        width: 10%;
        color: variables.$accent-color;
        text-align: left;
      }

      .service-info {
        display: flex;
        flex-direction: column;

        .service-title {
          font-size: 1.25rem;
          font-weight: bold;
          color: variables.$primary-color;
          text-align: left;
        }

        .service-description {
          color: variables.$grey-color;
          align-self: flex-start;
        }
      }
    }
  }
}
