<h2 class="title" mat-dialog-title>{{ isDoctor ? "Diagnosis": "Appointment" }}</h2>
<form class="form" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  @if (!isDoctor) {
    <mat-form-field class="form-field">
      <mat-label>Service</mat-label>
      <mat-select formControlName="serviceId" (selectionChange)="onServiceChange($event)">
        @for (service of services; track service.id) {
          <mat-option [value]="service.id">{{ service.name }} ({{ service.durationMinutes }} minutes)</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Doctor</mat-label>
      <mat-select formControlName="doctorsUserId">
        <mat-option [value]="0">Auto-assign</mat-option>
        @for (doctor of doctorsBySpeciality; track doctor.userId) {
          <mat-option [value]="doctor.userId">{{ doctor.user.name }} {{ doctor.user.surname }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  @if (isAdmin) {
    <mat-form-field class="form-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (status of statusEnum; track status.value) {
          <mat-option [value]="status.value">{{ status.key }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  @if (!isDoctor) {
    <mat-form-field class="form-field">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" formControlName="date" [min]="minDate"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Time</mat-label>
      <input matInput [matTimepicker]="timePicker" formControlName="time" matTimepickerMin="08:00" matTimepickerMax="15:45">
      <mat-timepicker-toggle matIconSuffix [for]="timePicker"/>
      <mat-timepicker #timePicker/>
    </mat-form-field>
  }
  @if(isDoctor) {
    <mat-form-field class="diagnosis">
      <mat-label>Diagnosis</mat-label>
      <textarea matInput formControlName="diagnosis" cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"></textarea>
    </mat-form-field>
  }
  <div class="buttons" mat-dialog-actions>
    <button class="submit-button" mat-raised-button type="submit" [disabled]="appointmentForm.invalid">Save</button>
    <button class="cancel-button" mat-button mat-dialog-close type="button" (click)="closeDialog()">Cancel</button>
  </div>
</form>
