@use '../app/shared/styles/variables' as variables;

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1000;

  .logo {
    height: 2rem;
    margin-right: 1rem;
  }

  .spacer {
    margin: 0 0.5rem;
  }

  .auth-buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
}

.footer {
  position: sticky;
  top: 100vh;
  background-color: variables.$background-color;
  margin-top: 1rem;
  padding: 0.5rem;

  .footer-info {
    text-align: center;
  }
}
