<form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
  <mat-form-field class="form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Pesel</mat-label>
    <input matInput formControlName="pesel" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" required/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Birth Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-error-message [message]="errorMessage"></app-error-message>
  <button mat-raised-button type="submit" [disabled]="registerForm.invalid" class="submit-button">Register</button>
</form>
